body{
    background-color: #0E7E12;
}

.container{
    background-color: #0E7E12;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card {
    background: white;
    width: 257px;
    height: 418px;
    border-radius: 15px;
    font-size: 6rem;
    font-weight: bold;
    box-shadow: 2px 1px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number::before{
    content: '\2660';
    font-size: 4rem;
    position: absolute;
    left: 15px;
    top: 15px;
}
.number::after{
    content: '\2660';
    font-size: 4rem;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform: rotate(180deg);
}

.card.heart, .card.diamond{
    color: red;
}
.card.spade, .card.club{
    color: black;
}

.card.heart .number::before, .card.heart .number::after{
    content: '\2665';
}
.card.diamond .number::before, .card.diamond .number::after{
    content: '\2666';
}
.card.spade .number::before, .card.spade .number::after{
    content: '\2660';
}
.card.card.club .number::before, .card.card.club .number::after{
    content: '\2663';
}
